Checks: >
  clang-analyzer-*,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -clang-analyzer-core.StackAddressEscape,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  modernize-*,
  -modernize-concat-nested-namespaces,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-use-designated-initializers,
  performance-*,
  -performance-noexcept-move-constructor,
  -performance-unnecessary-copy-initialization,
  -performance-faster-string-find,
  -performance-no-int-to-ptr,
  readability-*,
  -readability-identifier-length,
  -readability-braces-around-statements,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -readability-function-size,
  -readability-simplify-boolean-expr,
  -readability-avoid-unconditional-preprocessor-if,
  -readability-named-parameter,
  -readability-implicit-bool-conversion,
  -readability-static-accessed-through-instance,
  -readability-isolate-declaration,
  -readability-use-anyofallof,
  -readability-avoid-nested-conditional-operator,
  -readability-container-size-empty,
  -readability-qualified-auto,
  -readability-else-after-return,
  -readability-const-return-type,
  -readability-redundant-access-specifiers,
  -readability-redundant-string-init,
  -readability-math-missing-parentheses,
  -readability-enum-initial-value,
  -readability-non-const-parameter,
  -readability-redundant-string-cstr,
  -readability-redundant-casting,
  misc-unused-parameters
WarningsAsErrors: ''
HeaderFilterRegex: 'corvid/.*'
FormatStyle: file
