Checks: >
  clang-analyzer-*,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -clang-analyzer-core.StackAddressEscape,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  modernize-*,
  -modernize-concat-nested-namespaces,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-use-designated-initializers,
  performance-*,
  readability-*,
  -readability-identifier-length,
  -readability-braces-around-statements,
  -readability-magic-numbers,
  -readability-simplify-boolean-expr,
  -readability-named-parameter,
  -readability-implicit-bool-conversion,
  -readability-static-accessed-through-instance,
  -readability-use-anyofallof,
  -readability-avoid-nested-conditional-operator,
  -readability-container-size-empty,
  -readability-qualified-auto,
  -readability-else-after-return,
  -readability-redundant-access-specifiers,
  misc-unused-parameters
WarningsAsErrors: ''
HeaderFilterRegex: 'corvid/.*'
FormatStyle: file
